.disclose-stats-box {
    background-color: $base01;
    border-radius: 3em;
    margin: 0 1em 0 1em;
    padding: 0.8em;

    .stats-label {
        padding: 0.9em 0.9em 0.9em 0.83em;
        font-size: 23;
        font-weight: bold;
    }

    circular-progress {
        background-color: $base02;
    }

    .stats-separator {
        font-size: 1;
        background-color: $base03;
        padding: 1em;
        margin-left: 15em;
    }

    .info-value {
        font-size: 20;
        font-weight: bold;
    }

    .info-label {
        color: $base0F;
        padding: 0 8px;
    }
}

// vim:filetype=scss
