$base10: $base0A;
$base11: $base0B;
$base12: $base0C;
$base13: $base0D;
$base14: $base0E;
$base15: $base0F;
$shade00: #3d464e;
$shade01: #2b3238;
$shade02: #24292e;
$shade03: #1f2429;
$shade04: #1c2126;
$shade05: #191e23;
$shade06: #161b20;
$shade07: #151a1f;
$shade08: #13181d;
$shade09: #11161b;
$shade10: #0e1115;
$shade11: #0c0f13;
$shade12: #0a0d11;
$normal: darken(#7ab0df, 50%);
$critical: darken(#f87070, 50%);
$low: darken(#79dcaa, 50%);
$other: darken(#ffe59e, 50%);

.disclose-closer {
    padding-top: 36px;
    background-color: transparent;
}

.disclose-layout-box {
  background-color: $base00;
  font-family: monospace;
  padding-bottom: 1em;
}

.disclose-headers {
  padding: 1em 2em 0 2em;
  margin-bottom: 1.5em;
  color: $base05;
}

.disclose-headers-label {
  font-size: 20;
  color: $base05;
  opacity: 0.8;
}

.disclose-scroll {
  margin: 0 1.5em 0 1.5em;
}

@import "./_empty.scss";

@import "./_cardprog.scss";
@import "./_cardscr.scss";
@import "./_cardimage.scss";
@import "./_cardradial.scss";

@import "./_urgency.scss";
@import "./_stats.scss";
@import "./_music.scss";
@import "./_modifiers.scss";
@import "./_override.scss";

// vim:ft=scss
