@import 'colors';
@import 'music/music';

* {
    all: unset;
    font-family: "monospace";
}

.bar {
    background-color: $base00;
    color: $base05;
}

.module {
    padding: 0 10px;
}

.module-margin {
    margin: 0 10px;
}

.accent {
    background-color: $base0C;
    color: $base00;
}

.accent-txt {
    color: $base0C;
}

.secondary-txt {
    color: $base0E;
}

.bold {
    font-weight: bold;
}

.floating {
    background: $base01;
    border-radius: 10px;
    margin: 5px;
}

.round {
    border-radius: 50%;
    margin: 5px;
}

.px-2 {
    padding: 8px 6px;
}

.battery {
    .icon {
        font-size: 20px;
    }
    .percent {
        margin-left: -5px;
        font-size: 16px;
        font-weight: 500;
    }
}

