* {
	all: unset;
	font-family: monospace;
	padding: 0;
	margin: 0;
}

.transparent {
	background-color: rgba(0, 0, 0, 0.6);
}

.module {
	padding: 1px 10px;
	margin: 0 4px;
}

.bold {
	font-weight: bold;
}

.accent {
	background-color: #94e2d5;
	color: #1e1e2e;
}


.battery.low {
	color: red;
}
.battery.charged, .battery.charging {
	color: green;
}

.qs-item + .qs-item {
	padding: 3px;
}

.osd {
	border-radius: 50px;
	margin-bottom: 150px;
	min-width: 300px;
	min-height: 80px;
}

.progress {
	border-radius: 10px;
	background-color: #000;
}

.progress .fill {
	border-radius: 10px;
}
.progress .fill.over {
	background-color: red;
}

.max-indicator {
	background-color: red;
	min-width: 1px;
	min-height: 1px;
}
