# disable ligatures
font-feature = -calt

theme = light:catppuccin-latte,dark:catppuccin-mocha

cursor-style-blink = false
unfocused-split-opacity = 1

keybind = clear
keybind = ctrl+shift+c=copy_to_clipboard
keybind = ctrl+shift+v=paste_from_clipboard

keybind = alt+r=reload_config

keybind = ctrl+plus=increase_font_size:1
keybind = ctrl+equal=increase_font_size:1
keybind = ctrl+minus=decrease_font_size:1
keybind = ctrl+zero=reset_font_size
keybind = ctrl+backspace=reset_font_size

keybind = ctrl+shift+comma=reload_config
keybind = ctrl+shift+i=inspector:toggle

keybind = alt+o=jump_to_prompt:1
keybind = alt+i=jump_to_prompt:-1

window-padding-x = 0
window-padding-y = 0
window-padding-balance = true
window-decoration = false

clipboard-read = allow
clipboard-write = allow
clipboard-trim-trailing-spaces = true

copy-on-select = false

confirm-close-surface = false
quit-after-last-window-closed = true
resize-overlay = never

auto-update = off

shell-integration-features = true

# vim: ft=conf
