@import 'colors';
@import "bar/eww";
@import "panel/scss/_init.scss";

* {
    all: unset;
    font-family: "monospace";
}

.accent {
    background-color: $base0C;
    color: $base00;
}

.accent-txt {
    color: $base0C;
}

.secondary {
    background-color: $base0E;
    color: $base00;
}
.secondary-txt {
    color: $base0E;
}

.red {
    background-color: $base08;
    color: $base02;
}
.red-txt {
    color: $base0E;
}

.green {
    background-color: $base0B;
}
.green-txt {
    color: $base0B;
}

.blue {
    background-color: $base0D;
}
.blue-txt {
    color: $base0D;
}


